# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://elxcqyolgjtpqcadhxxl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVseGNxeW9sZ2p0cHFjYWRoeHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NjI5NzAsImV4cCI6MjA4OTAzODk3MH0.BUdZESblvekT8E05FFvGPb6UlqswBp-T0_k6SY8gOIg
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVseGNxeW9sZ2p0cHFjYWRoeHhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ2Mjk3MCwiZXhwIjoyMDg5MDM4OTcwfQ.62dnneZOqx4jh8Mq4XKd0YMnnimfL6dJ8m-69005TMo

# App
NEXT_PUBLIC_APP_URL= http://localhost:3000